<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Quarrel BugBoy</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
      <%- include includes/header %>
      <div class="subheader">
          <div class="content">
              <a class="login" target="Connect to Discord">LOGIN</a>
          </div>
      </div>
      <div class="content">
        <h2>BugBoy</h2>
        <p>
          This is our little bug tracking system: If you find a bug in Quarrel, please head to the Discord server, go to #bugs, and follow the instructions
        </p>
        <hr>
        <div>
          <% bugs.forEach(function (bug) {%>
            <div class="bugcontainer">
                <div class="bugtitle"><%= bug.title %> &nbsp;-
                  <span class="gravity" data-value="<%= bug.severity %>"><%= bug.severity %></span>
                  <% if(bug.platform != "all") {%>
                    <span class="bugplatform">- <%= bug.platform %></span>
                    <% } %> </div>
                <p class="bugdescription"></span><%= bug.details %></p>
                
                <% if(bug.response != undefined && bug.response != "" ) {%>
                <div class="responsecontainer"><%= bug.response %></div>
                <% } %>
              </div>
          <% }) %>

          </div>
      </div>
  </body>
</html>